<div class="card mb-3 product-card">
  <img src="{{ product.photo }}" class="card-img-top" alt="{{ product.name }}" />
  <div class="card-body">
    <h5 class="card-title">
      {{ product.name }}
    </h5>
    <p class="card-text">
      {{ product.description }}
    </p>

    <!-- TODO: Sukurti atkira route'a produkto puslapiui -->

    <!-- Router Link Perduodant parametra -->
    <a [routerLink]="['/products', product.id]"
    class="btn btn-primary">
      Peržiūrėti  <i class="ms-1 fas fa-eye"></i>
    </a>
  </div>
</div>
